In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
import os

dirs = os.getcwd() + './data/smin, smax결과/1년'
files = os.listdir(dirs)
files

['CJ 드림시티.xlsx',
 '고속터미널역 8-1번, 8-2번 출구 사이.xlsx',
 '공릉역 1번 출구 앞.xlsx',
 '독산보도육교 앞 자전거 보관소.xlsx',
 '동묘앞역 1번출구 뒤.xlsx',
 '뚝섬유원지역 1번출구 앞.xlsx',
 '롯데월드타워(잠실역2번출구 쪽).xlsx',
 '마곡나루역 2번 출구.xlsx',
 '마포구민체육센터 앞.xlsx',
 '목동역5번출구 교통정보센터 앞.xlsx',
 '봉림교 교통섬.xlsx',
 '신도림역 1번 출구 앞.xlsx',
 '안암로터리 버스정류장 앞.xlsx',
 '여의나루역 1번출구 앞.xlsx',
 '옥수역 3번출구.xlsx',
 '용산역 맞은편.xlsx',
 '이디야 커피 수유역점 앞.xlsx',
 '장한평역 1번출구 (국민은행앞).xlsx',
 '중랑세무서.xlsx',
 '창동역 2번출구.xlsx',
 '천호역4번출구(현대백화점).xlsx',
 '청계천 영도교.xlsx',
 '현대고등학교 건너편.xlsx',
 '홍은사거리.xlsx',
 '흑석역 1번출구.xlsx']

In [3]:
df0 = pd.read_excel('./data/smin, smax결과/1년/CJ 드림시티.xlsx')
df0 = df0.rename(columns = {'s_min' : 'CJ 드림시티s_min', 's_max' : 'CJ 드림시티s_max'})
df0

   time  CJ 드림시티s_min  CJ 드림시티s_max
0    0시             3            17
1    1시             3            17
2    2시             3            17
3    3시             2            17
4    4시             2            17
5    5시             2            17
6    6시             2            17
7    7시             2            17
8    8시             2            17
9    9시             2            17
10  10시             2            17
11  11시             2            17
12  12시             2            17
13  13시             2            17
14  14시             2            17
15  15시             2            17
16  16시             2            17
17  17시             3            17
18  18시             3            17
19  19시             3            17
20  20시             3            17
21  21시             3            17
22  22시             3            17
23  23시             3            17

In [4]:
df1 = pd.read_excel('./data/smin, smax결과/1년/고속터미널역 8-1번, 8-2번 출구 사이.xlsx')
df1 = df1.rename(columns = {'s_min' : '고속터미널역 8-1번, 8-2번 출구 사이s_min', 's_max' : '고속터미널역 8-1번, 8-2번 출구 사이s_max'})
df1

   time  고속터미널역 8-1번, 8-2번 출구 사이s_min  고속터미널역 8-1번, 8-2번 출구 사이s_max
0    0시                             2                            22
1    1시                             2                            22
2    2시                             2                            22
3    3시                             2                            22
4    4시                             2                            22
5    5시                             2                            22
6    6시                             2                            22
7    7시                             2                            22
8    8시                             2                            22
9    9시                             2                            22
10  10시                             2                            22
11  11시                             2                            22
12  12시                             2                            22
13  13시                             2                            22
14  14시                             2                            22
15  15시                             2                            22
16  16시                             2                            22
17  17시                             3                            21
18  18시                             3                            21
19  19시                             3                            21
20  20시                             3                            21
21  21시                             3                            21
22  22시                             3                            21
23  23시                             3                            21

In [5]:
df2 = pd.read_excel('./data/smin, smax결과/1년/공릉역 1번 출구 앞.xlsx')
df2 = df2.rename(columns = {'s_min' : '공릉역 1번 출구 앞s_min', 's_max' : '공릉역 1번 출구 앞s_max'})
df2

   time  공릉역 1번 출구 앞s_min  공릉역 1번 출구 앞s_max
0    0시                 2                10
1    1시                 2                10
2    2시                 2                10
3    3시                 2                10
4    4시                 2                10
5    5시                 2                10
6    6시                 2                10
7    7시                 2                10
8    8시                 2                10
9    9시                 2                10
10  10시                 2                10
11  11시                 2                10
12  12시                 2                10
13  13시                 2                10
14  14시                 3                10
15  15시                 3                10
16  16시                 3                10
17  17시                 3                10
18  18시                 3                10
19  19시                 3                10
20  20시                 3                10
21  21시                 3                10
22  22시                 3                10
23  23시                 3                10

In [6]:
df3 = pd.read_excel('./data/smin, smax결과/1년/독산보도육교 앞 자전거 보관소.xlsx')
df3 = df3.rename(columns = {'s_min' : '독산보도육교 앞 자전거 보관소s_min', 's_max' : '독산보도육교 앞 자전거 보관소s_max'})
df3

   time  독산보도육교 앞 자전거 보관소s_min  독산보도육교 앞 자전거 보관소s_max
0    0시                      2                     13
1    1시                      2                     13
2    2시                      2                     13
3    3시                      2                     13
4    4시                      2                     13
5    5시                      2                     13
6    6시                      2                     13
7    7시                      2                     12
8    8시                      2                     12
9    9시                      2                     12
10  10시                      2                     12
11  11시                      2                     12
12  12시                      2                     12
13  13시                      2                     12
14  14시                      2                     12
15  15시                      2                     12
16  16시                      2                     12
17  17시                      2                     12
18  18시                      2                     12
19  19시                      2                     12
20  20시                      2                     12
21  21시                      3                     12
22  22시                      3                     12
23  23시                      3                     12

In [7]:
df4 = pd.read_excel('./data/smin, smax결과/1년/동묘앞역 1번출구 뒤.xlsx')
df4 = df4.rename(columns = {'s_min' : '동묘앞역 1번출구 뒤s_min', 's_max' : '동묘앞역 1번출구 뒤s_max'})
df4

   time  동묘앞역 1번출구 뒤s_min  동묘앞역 1번출구 뒤s_max
0    0시                 2                 5
1    1시                 2                 5
2    2시                 2                 5
3    3시                 2                 5
4    4시                 2                 5
5    5시                 2                 5
6    6시                 2                 5
7    7시                 2                 5
8    8시                 2                 5
9    9시                 2                 5
10  10시                 2                 5
11  11시                 2                 5
12  12시                 2                 5
13  13시                 2                 5
14  14시                 2                 5
15  15시                 2                 5
16  16시                 2                 5
17  17시                 2                 5
18  18시                 2                 5
19  19시                 2                 5
20  20시                 2                 5
21  21시                 2                 5
22  22시                 2                 5
23  23시                 2                 5

In [8]:
df5 = pd.read_excel('./data/smin, smax결과/1년/뚝섬유원지역 1번출구 앞.xlsx')
df5 = df5.rename(columns = {'s_min' : '뚝섬유원지역 1번출구 앞s_min', 's_max' : '뚝섬유원지역 1번출구 앞s_max'})
df5

   time  뚝섬유원지역 1번출구 앞s_min  뚝섬유원지역 1번출구 앞s_max
0    0시                   3                  65
1    1시                   3                  65
2    2시                   3                  65
3    3시                   3                  65
4    4시                   2                  65
5    5시                   2                  66
6    6시                   2                  66
7    7시                   3                  66
8    8시                   3                  66
9    9시                   3                  66
10  10시                   3                  66
11  11시                   3                  66
12  12시                   3                  66
13  13시                   3                  66
14  14시                   3                  65
15  15시                   3                  65
16  16시                   3                  66
17  17시                   3                  66
18  18시                   4                  66
19  19시                   4                  66
20  20시                   4                  66
21  21시                   4                  66
22  22시                   4                  66
23  23시                   4                  66

In [9]:
df6 = pd.read_excel('./data/smin, smax결과/1년/롯데월드타워(잠실역2번출구 쪽).xlsx')
df6 = df6.rename(columns = {'s_min' : '롯데월드타워(잠실역2번출구 쪽)s_min', 's_max' : '롯데월드타워(잠실역2번출구 쪽)s_max'})
df6

   time  롯데월드타워(잠실역2번출구 쪽)s_min  롯데월드타워(잠실역2번출구 쪽)s_max
0    0시                       2                      24
1    1시                       2                      24
2    2시                       1                      25
3    3시                       1                      25
4    4시                       1                      25
5    5시                       1                      25
6    6시                       2                      25
7    7시                       3                      25
8    8시                       4                      25
9    9시                       4                      25
10  10시                       4                      25
11  11시                       4                      24
12  12시                       4                      24
13  13시                       4                      24
14  14시                       3                      24
15  15시                       3                      24
16  16시                       3                      24
17  17시                       3                      23
18  18시                       3                      23
19  19시                       3                      23
20  20시                       3                      23
21  21시                       3                      23
22  22시                       3                      23
23  23시                       3                      23

In [10]:
df7 = pd.read_excel('./data/smin, smax결과/1년/마곡나루역 2번 출구.xlsx')
df7 = df7.rename(columns = {'s_min' : '마곡나루역 2번 출구s_min', 's_max' : '마곡나루역 2번 출구s_max'})
df7

   time  마곡나루역 2번 출구s_min  마곡나루역 2번 출구s_max
0    0시                 2                15
1    1시                 2                15
2    2시                 2                15
3    3시                 2                15
4    4시                 2                15
5    5시                 2                15
6    6시                 2                15
7    7시                 2                15
8    8시                 2                15
9    9시                 2                15
10  10시                 3                15
11  11시                 3                15
12  12시                 3                15
13  13시                 3                15
14  14시                 3                14
15  15시                 3                14
16  16시                 3                14
17  17시                 3                14
18  18시                 3                14
19  19시                 3                14
20  20시                 3                14
21  21시                 3                14
22  22시                 3                14
23  23시                 3                14

In [11]:
df8 = pd.read_excel('./data/smin, smax결과/1년/마포구민체육센터 앞.xlsx')
df8 = df8.rename(columns = {'s_min' : '마포구민체육센터 앞s_min', 's_max' : '마포구민체육센터 앞s_max'})
df8

   time  마포구민체육센터 앞s_min  마포구민체육센터 앞s_max
0    0시                3               42
1    1시                3               43
2    2시                3               43
3    3시                3               43
4    4시                3               43
5    5시                2               43
6    6시                2               43
7    7시                2               43
8    8시                2               43
9    9시                2               43
10  10시                2               43
11  11시                2               43
12  12시                2               43
13  13시                2               43
14  14시                2               42
15  15시                3               42
16  16시                3               42
17  17시                3               43
18  18시                3               43
19  19시                3               43
20  20시                4               43
21  21시                4               43
22  22시                4               43
23  23시                4               43

In [12]:
df9 = pd.read_excel('./data/smin, smax결과/1년/목동역5번출구 교통정보센터 앞.xlsx')
df9 = df9.rename(columns = {'s_min' : '목동역5번출구 교통정보센터 앞s_min', 's_max' : '목동역5번출구 교통정보센터 앞s_max'})
df9

   time  목동역5번출구 교통정보센터 앞s_min  목동역5번출구 교통정보센터 앞s_max
0    0시                      2                      9
1    1시                      2                      9
2    2시                      2                      9
3    3시                      2                      9
4    4시                      2                      9
5    5시                      2                      9
6    6시                      2                      9
7    7시                      2                      9
8    8시                      3                      9
9    9시                      3                      9
10  10시                      3                      9
11  11시                      2                      9
12  12시                      2                      9
13  13시                      2                      9
14  14시                      2                      9
15  15시                      2                      9
16  16시                      3                      9
17  17시                      3                      9
18  18시                      3                      9
19  19시                      3                      9
20  20시                      3                      9
21  21시                      3                      9
22  22시                      3                      9
23  23시                      3                      9

In [13]:
df10 = pd.read_excel('./data/smin, smax결과/1년/봉림교 교통섬.xlsx')
df10 = df10.rename(columns = {'s_min' : '봉림교 교통섬s_min', 's_max' : '봉림교 교통섬s_max'})
df10

   time  봉림교 교통섬s_min  봉림교 교통섬s_max
0    0시             3            30
1    1시             3            30
2    2시             3            30
3    3시             2            30
4    4시             2            30
5    5시             2            30
6    6시             2            30
7    7시             2            30
8    8시             2            30
9    9시             2            30
10  10시             2            30
11  11시             2            30
12  12시             2            30
13  13시             2            30
14  14시             2            30
15  15시             3            30
16  16시             3            30
17  17시             3            30
18  18시             3            30
19  19시             3            30
20  20시             3            30
21  21시             3            30
22  22시             3            30
23  23시             3            30

In [14]:
df11 = pd.read_excel('./data/smin, smax결과/1년/신도림역 1번 출구 앞.xlsx')
df11 = df11.rename(columns = {'s_min' : '신도림역 1번 출구 앞s_min', 's_max' : '신도림역 1번 출구 앞s_max'})
df11

   time  신도림역 1번 출구 앞s_min  신도림역 1번 출구 앞s_max
0    0시                  2                 16
1    1시                  2                 16
2    2시                  2                 16
3    3시                  2                 16
4    4시                  2                 16
5    5시                  2                 16
6    6시                  2                 17
7    7시                  2                 16
8    8시                  2                 16
9    9시                  3                 16
10  10시                  3                 16
11  11시                  3                 16
12  12시                  3                 16
13  13시                  3                 16
14  14시                  3                 16
15  15시                  3                 16
16  16시                  3                 16
17  17시                  3                 15
18  18시                  3                 15
19  19시                  3                 15
20  20시                  3                 15
21  21시                  3                 15
22  22시                  3                 15
23  23시                  3                 15

In [15]:
df12 = pd.read_excel('./data/smin, smax결과/1년/안암로터리 버스정류장 앞.xlsx')
df12 = df12.rename(columns = {'s_min' : '안암로터리 버스정류장 앞s_min', 's_max' : '안암로터리 버스정류장 앞s_max'})
df12

   time  안암로터리 버스정류장 앞s_min  안암로터리 버스정류장 앞s_max
0    0시                   2                  14
1    1시                   2                  14
2    2시                   2                  14
3    3시                   2                  14
4    4시                   2                  14
5    5시                   2                  14
6    6시                   2                  14
7    7시                   2                  14
8    8시                   2                  14
9    9시                   3                  14
10  10시                   3                  14
11  11시                   3                  14
12  12시                   3                  14
13  13시                   3                  14
14  14시                   3                  14
15  15시                   3                  14
16  16시                   3                  14
17  17시                   3                  14
18  18시                   3                  14
19  19시                   3                  14
20  20시                   3                  14
21  21시                   3                  14
22  22시                   3                  14
23  23시                   3                  14

In [16]:
df13 = pd.read_excel('./data/smin, smax결과/1년/여의나루역 1번출구 앞.xlsx')
df13 = df13.rename(columns = {'s_min' : '여의나루역 1번출구 앞s_min', 's_max' : '여의나루역 1번출구 앞s_max'})
df13

   time  여의나루역 1번출구 앞s_min  여의나루역 1번출구 앞s_max
0    0시                  3                 61
1    1시                  3                 61
2    2시                  3                 61
3    3시                  3                 61
4    4시                  2                 61
5    5시                  2                 61
6    6시                  2                 62
7    7시                  2                 61
8    8시                  2                 61
9    9시                  2                 61
10  10시                  2                 61
11  11시                  2                 61
12  12시                  2                 61
13  13시                  2                 61
14  14시                  2                 61
15  15시                  2                 61
16  16시                  2                 61
17  17시                  2                 61
18  18시                  3                 61
19  19시                  3                 61
20  20시                  3                 61
21  21시                  3                 61
22  22시                  3                 61
23  23시                  3                 61

In [17]:
df14 = pd.read_excel('./data/smin, smax결과/1년/옥수역 3번출구.xlsx')
df14 = df14.rename(columns = {'s_min' : '옥수역 3번출구s_min', 's_max' : '옥수역 3번출구s_max'})
df14

   time  옥수역 3번출구s_min  옥수역 3번출구s_max
0    0시              2             24
1    1시              2             24
2    2시              2             24
3    3시              2             24
4    4시              2             24
5    5시              2             24
6    6시              2             24
7    7시              2             24
8    8시              2             24
9    9시              2             24
10  10시              2             24
11  11시              2             24
12  12시              2             24
13  13시              2             24
14  14시              2             24
15  15시              2             23
16  16시              2             23
17  17시              3             23
18  18시              3             23
19  19시              3             23
20  20시              3             23
21  21시              3             23
22  22시              3             23
23  23시              3             24

In [18]:
df15 = pd.read_excel('./data/smin, smax결과/1년/용산역 맞은편.xlsx')
df15 = df15.rename(columns = {'s_min' : '용산역 맞은편s_min', 's_max' : '용산역 맞은편s_max'})
df15

   time  용산역 맞은편s_min  용산역 맞은편s_max
0    0시             1            10
1    1시             1            10
2    2시             1            10
3    3시             1            10
4    4시             1            10
5    5시             1            11
6    6시             1            11
7    7시             1            11
8    8시             2            11
9    9시             2            11
10  10시             2            11
11  11시             2            10
12  12시             2            10
13  13시             2            10
14  14시             2            10
15  15시             2            10
16  16시             2            10
17  17시             2            10
18  18시             3            10
19  19시             3            10
20  20시             3            10
21  21시             2            10
22  22시             2            10
23  23시             2            10

In [19]:
df16 = pd.read_excel('./data/smin, smax결과/1년/이디야 커피 수유역점 앞.xlsx')
df16 = df16.rename(columns = {'s_min' : '이디야 커피 수유역점 앞s_min', 's_max' : '이디야 커피 수유역점 앞s_max'})
df16

   time  이디야 커피 수유역점 앞s_min  이디야 커피 수유역점 앞s_max
0    0시                   2                   5
1    1시                   2                   5
2    2시                   2                   5
3    3시                   2                   5
4    4시                   2                   5
5    5시                   2                   5
6    6시                   2                   5
7    7시                   2                   5
8    8시                   2                   5
9    9시                   2                   5
10  10시                   2                   5
11  11시                   2                   5
12  12시                   2                   5
13  13시                   2                   5
14  14시                   2                   5
15  15시                   2                   5
16  16시                   2                   5
17  17시                   2                   5
18  18시                   2                   5
19  19시                   2                   5
20  20시                   2                   5
21  21시                   2                   5
22  22시                   2                   5
23  23시                   2                   5

In [20]:
df17 = pd.read_excel('./data/smin, smax결과/1년/장한평역 1번출구 (국민은행앞).xlsx')
df17 = df17.rename(columns = {'s_min' : '장한평역 1번출구 (국민은행앞)s_min', 's_max' : '장한평역 1번출구 (국민은행앞)s_max'})
df17

   time  장한평역 1번출구 (국민은행앞)s_min  장한평역 1번출구 (국민은행앞)s_max
0    0시                       2                       8
1    1시                       2                       8
2    2시                       2                       8
3    3시                       2                       8
4    4시                       2                       8
5    5시                       2                       8
6    6시                       2                       8
7    7시                       3                       8
8    8시                       4                       9
9    9시                       3                       8
10  10시                       3                       8
11  11시                       3                       8
12  12시                       3                       8
13  13시                       3                       8
14  14시                       3                       8
15  15시                       3                       8
16  16시                       3                       8
17  17시                       3                       8
18  18시                       3                       8
19  19시                       3                       8
20  20시                       3                       8
21  21시                       3                       8
22  22시                       3                       8
23  23시                       3                       8

In [21]:
df18 = pd.read_excel('./data/smin, smax결과/1년/중랑세무서.xlsx')
df18 = df18.rename(columns = {'s_min' : '중랑세무서s_min', 's_max' : '중랑세무서s_max'})
df18

   time  중랑세무서s_min  중랑세무서s_max
0    0시           2           8
1    1시           2           8
2    2시           2           8
3    3시           2           8
4    4시           2           8
5    5시           2           8
6    6시           2           8
7    7시           2           8
8    8시           2           8
9    9시           2           8
10  10시           2           8
11  11시           2           8
12  12시           2           8
13  13시           2           8
14  14시           2           8
15  15시           2           8
16  16시           2           8
17  17시           2           8
18  18시           2           8
19  19시           2           8
20  20시           2           8
21  21시           2           8
22  22시           2           8
23  23시           2           8

In [22]:
df19 = pd.read_excel('./data/smin, smax결과/1년/창동역 2번출구.xlsx')
df19 = df19.rename(columns = {'s_min' : '창동역 2번출구s_min', 's_max' : '창동역 2번출구s_max'})
df19

   time  창동역 2번출구s_min  창동역 2번출구s_max
0    0시              2              7
1    1시              2              7
2    2시              2              7
3    3시              2              7
4    4시              2              7
5    5시              2              7
6    6시              2              7
7    7시              2              7
8    8시              2              7
9    9시              3              7
10  10시              3              7
11  11시              3              7
12  12시              3              7
13  13시              3              7
14  14시              3              7
15  15시              3              7
16  16시              3              7
17  17시              3              7
18  18시              3              7
19  19시              3              7
20  20시              2              7
21  21시              2              7
22  22시              2              7
23  23시              2              7

In [23]:
df20 = pd.read_excel('./data/smin, smax결과/1년/천호역4번출구(현대백화점).xlsx')
df20 = df20.rename(columns = {'s_min' : '천호역4번출구(현대백화점)s_min', 's_max' : '천호역4번출구(현대백화점)s_max'})
df20

   time  천호역4번출구(현대백화점)s_min  천호역4번출구(현대백화점)s_max
0    0시                    2                    9
1    1시                    2                    9
2    2시                    2                    9
3    3시                    2                    9
4    4시                    2                    9
5    5시                    2                    9
6    6시                    2                    9
7    7시                    2                    9
8    8시                    2                    9
9    9시                    2                    9
10  10시                    2                    9
11  11시                    2                    9
12  12시                    2                    9
13  13시                    2                    9
14  14시                    2                    9
15  15시                    2                    9
16  16시                    2                    9
17  17시                    2                    9
18  18시                    2                    9
19  19시                    3                    9
20  20시                    2                    8
21  21시                    2                    8
22  22시                    2                    8
23  23시                    2                    8

In [24]:
df21 = pd.read_excel('./data/smin, smax결과/1년/청계천 영도교.xlsx')
df21 = df21.rename(columns = {'s_min' : '청계천 영도교s_min', 's_max' : '청계천 영도교s_max'})
df21

   time  청계천 영도교s_min  청계천 영도교s_max
0    0시             2             4
1    1시             2             4
2    2시             2             4
3    3시             2             4
4    4시             2             4
5    5시             2             4
6    6시             2             4
7    7시             2             4
8    8시             2             4
9    9시             2             4
10  10시             2             4
11  11시             2             4
12  12시             2             4
13  13시             2             4
14  14시             2             4
15  15시             2             4
16  16시             2             4
17  17시             2             4
18  18시             2             4
19  19시             2             4
20  20시             2             4
21  21시             2             4
22  22시             2             4
23  23시             2             4

In [25]:
df22 = pd.read_excel('./data/smin, smax결과/1년/현대고등학교 건너편.xlsx')
df22 = df22.rename(columns = {'s_min' : '현대고등학교 건너편s_min', 's_max' : '현대고등학교 건너편s_max'})
df22

   time  현대고등학교 건너편s_min  현대고등학교 건너편s_max
0    0시                2               12
1    1시                2               12
2    2시                2               12
3    3시                2               12
4    4시                2               12
5    5시                2               12
6    6시                2               12
7    7시                2               12
8    8시                2               12
9    9시                2               12
10  10시                2               12
11  11시                2               12
12  12시                2               12
13  13시                2               12
14  14시                2               12
15  15시                2               12
16  16시                2               12
17  17시                2               12
18  18시                3               12
19  19시                3               12
20  20시                3               12
21  21시                3               12
22  22시                3               12
23  23시                3               12

In [26]:
df23 = pd.read_excel('./data/smin, smax결과/1년/홍은사거리.xlsx')
df23 = df23.rename(columns = {'s_min' : '홍은사거리s_min', 's_max' : '홍은사거리s_max'})
df23

   time  홍은사거리s_min  홍은사거리s_max
0    0시           2          10
1    1시           2          10
2    2시           2          10
3    3시           2          10
4    4시           2          10
5    5시           2          10
6    6시           2          10
7    7시           2          10
8    8시           2          10
9    9시           2          10
10  10시           2          10
11  11시           2          10
12  12시           2          10
13  13시           2          10
14  14시           2          10
15  15시           2          10
16  16시           2          10
17  17시           2          10
18  18시           2          10
19  19시           2          10
20  20시           2          10
21  21시           2          10
22  22시           2          10
23  23시           2          10

In [27]:
df24 = pd.read_excel('./data/smin, smax결과/1년/흑석역 1번출구.xlsx')
df24 = df24.rename(columns = {'s_min' : '흑석역 1번출구s_min', 's_max' : '흑석역 1번출구s_max'})
df24

   time  흑석역 1번출구s_min  흑석역 1번출구s_max
0    0시              2             14
1    1시              2             14
2    2시              2             14
3    3시              2             14
4    4시              2             14
5    5시              2             14
6    6시              2             14
7    7시              2             14
8    8시              2             14
9    9시              2             14
10  10시              2             14
11  11시              2             14
12  12시              2             14
13  13시              2             14
14  14시              2             14
15  15시              2             14
16  16시              2             14
17  17시              2             14
18  18시              2             14
19  19시              3             14
20  20시              3             14
21  21시              3             14
22  22시              3             14
23  23시              3             14

In [28]:
df = pd.merge(df0, df1, on = 'time')
df = pd.merge(df, df2, on = 'time')
df = pd.merge(df, df3, on = 'time')
df = pd.merge(df, df4, on = 'time')
df = pd.merge(df, df5, on = 'time')
df = pd.merge(df, df6, on = 'time')
df = pd.merge(df, df7, on = 'time')
df = pd.merge(df, df8, on = 'time')
df = pd.merge(df, df9, on = 'time')
df = pd.merge(df, df10, on = 'time')
df = pd.merge(df, df11, on = 'time')
df = pd.merge(df, df12, on = 'time')
df = pd.merge(df, df13, on = 'time')
df = pd.merge(df, df14, on = 'time')
df = pd.merge(df, df15, on = 'time')
df = pd.merge(df, df16, on = 'time')
df = pd.merge(df, df17, on = 'time')
df = pd.merge(df, df18, on = 'time')
df = pd.merge(df, df19, on = 'time')
df = pd.merge(df, df20, on = 'time')
df = pd.merge(df, df21, on = 'time')
df = pd.merge(df, df22, on = 'time')
df = pd.merge(df, df23, on = 'time')
df = pd.merge(df, df24, on = 'time')
df

,time,CJ 드림시티s_min,CJ 드림시티s_max,"고속터미널역 8-1번, 8-2번 출구 사이s_min","고속터미널역 8-1번, 8-2번 출구 사이s_max",공릉역 1번 출구 앞s_min,공릉역 1번 출구 앞s_max,독산보도육교 앞 자전거 보관소s_min,독산보도육교 앞 자전거 보관소s_max,동묘앞역 1번출구 뒤s_min,동묘앞역 1번출구 뒤s_max,뚝섬유원지역 1번출구 앞s_min,뚝섬유원지역 1번출구 앞s_max,롯데월드타워(잠실역2번출구 쪽)s_min,롯데월드타워(잠실역2번출구 쪽)s_max,마곡나루역 2번 출구s_min,마곡나루역 2번 출구s_max,마포구민체육센터 앞s_min,마포구민체육센터 앞s_max,목동역5번출구 교통정보센터 앞s_min,목동역5번출구 교통정보센터 앞s_max,봉림교 교통섬s_min,봉림교 교통섬s_max,신도림역 1번 출구 앞s_min,신도림역 1번 출구 앞s_max,안암로터리 버스정류장 앞s_min,안암로터리 버스정류장 앞s_max,여의나루역 1번출구 앞s_min,여의나루역 1번출구 앞s_max,옥수역 3번출구s_min,옥수역 3번출구s_max,용산역 맞은편s_min,용산역 맞은편s_max,이디야 커피 수유역점 앞s_min,이디야 커피 수유역점 앞s_max,장한평역 1번출구 (국민은행앞)s_min,장한평역 1번출구 (국민은행앞)s_max,중랑세무서s_min,중랑세무서s_max,창동역 2번출구s_min,창동역 2번출구s_max,천호역4번출구(현대백화점)s_min,천호역4번출구(현대백화점)s_max,청계천 영도교s_min,청계천 영도교s_max,현대고등학교 건너편s_min,현대고등학교 건너편s_max,홍은사거리s_min,홍은사거리s_max,흑석역 1번출구s_min,흑석역 1번출구s_max
0,0시,3,17,2,22,2,10,2,13,2,5,3,65,2,24,2,15,3,42,2,9,3,30,2,16,2,14,3,61,2,24,1,10,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
1,1시,3,17,2,22,2,10,2,13,2,5,3,65,2,24,2,15,3,43,2,9,3,30,2,16,2,14,3,61,2,24,1,10,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
2,2시,3,17,2,22,2,10,2,13,2,5,3,65,1,25,2,15,3,43,2,9,3,30,2,16,2,14,3,61,2,24,1,10,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
3,3시,2,17,2,22,2,10,2,13,2,5,3,65,1,25,2,15,3,43,2,9,2,30,2,16,2,14,3,61,2,24,1,10,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
4,4시,2,17,2,22,2,10,2,13,2,5,2,65,1,25,2,15,3,43,2,9,2,30,2,16,2,14,2,61,2,24,1,10,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
5,5시,2,17,2,22,2,10,2,13,2,5,2,66,1,25,2,15,2,43,2,9,2,30,2,16,2,14,2,61,2,24,1,11,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
6,6시,2,17,2,22,2,10,2,13,2,5,2,66,2,25,2,15,2,43,2,9,2,30,2,17,2,14,2,62,2,24,1,11,2,5,2,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
7,7시,2,17,2,22,2,10,2,12,2,5,3,66,3,25,2,15,2,43,2,9,2,30,2,16,2,14,2,61,2,24,1,11,2,5,3,8,2,8,2,7,2,9,2,4,2,12,2,10,2,14
8,8시,2,17,2,22,2,10,2,12,2,5,3,66,4,25,2,15,2,43,3,9,2,30,2,16,2,14,2,61,2,24,2,11,2,5,4,9,2,8,2,7,2,9,2,4,2,12,2,10,2,14
9,9시,2,17,2,22,2,10,2,12,2,5,3,66,4,25,2,15,2,43,3,9,2,30,3,16,3,14,2,61,2,24,2,11,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
10,10시,2,17,2,22,2,10,2,12,2,5,3,66,4,25,3,15,2,43,3,9,2,30,3,16,3,14,2,61,2,24,2,11,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
11,11시,2,17,2,22,2,10,2,12,2,5,3,66,4,24,3,15,2,43,2,9,2,30,3,16,3,14,2,61,2,24,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
12,12시,2,17,2,22,2,10,2,12,2,5,3,66,4,24,3,15,2,43,2,9,2,30,3,16,3,14,2,61,2,24,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
13,13시,2,17,2,22,2,10,2,12,2,5,3,66,4,24,3,15,2,43,2,9,2,30,3,16,3,14,2,61,2,24,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
14,14시,2,17,2,22,3,10,2,12,2,5,3,65,3,24,3,14,2,42,2,9,2,30,3,16,3,14,2,61,2,24,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
15,15시,2,17,2,22,3,10,2,12,2,5,3,65,3,24,3,14,3,42,2,9,3,30,3,16,3,14,2,61,2,23,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
16,16시,2,17,2,22,3,10,2,12,2,5,3,66,3,24,3,14,3,42,3,9,3,30,3,16,3,14,2,61,2,23,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
17,17시,3,17,3,21,3,10,2,12,2,5,3,66,3,23,3,14,3,43,3,9,3,30,3,15,3,14,2,61,3,23,2,10,2,5,3,8,2,8,3,7,2,9,2,4,2,12,2,10,2,14
18,18시,3,17,3,21,3,10,2,12,2,5,4,66,3,23,3,14,3,43,3,9,3,30,3,15,3,14,3,61,3,23,3,10,2,5,3,8,2,8,3,7,2,9,2,4,3,12,2,10,2,14
19,19시,3,17,3,21,3,10,2,12,2,5,4,66,3,23,3,14,3,43,3,9,3,30,3,15,3,14,3,61,3,23,3,10,2,5,3,8,2,8,3,7,3,9,2,4,3,12,2,10,3,14
20,20시,3,17,3,21,3,10,2,12,2,5,4,66,3,23,3,14,4,43,3,9,3,30,3,15,3,14,3,61,3,23,3,10,2,5,3,8,2,8,2,7,2,8,2,4,3,12,2,10,3,14
21,21시,3,17,3,21,3,10,3,12,2,5,4,66,3,23,3,14,4,43,3,9,3,30,3,15,3,14,3,61,3,23,2,10,2,5,3,8,2,8,2,7,2,8,2,4,3,12,2,10,3,14
22,22시,3,17,3,21,3,10,3,12,2,5,4,66,3,23,3,14,4,43,3,9,3,30,3,15,3,14,3,61,3,23,2,10,2,5,3,8,2,8,2,7,2,8,2,4,3,12,2,10,3,14
23,23시,3,17,3,21,3,10,3,12,2,5,4,66,3,23,3,14,4,43,3,9,3,30,3,15,3,14,3,61,3,24,2,10,2,5,3,8,2,8,2,7,2,8,2,4,3,12,2,10,3,14