In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'NanumGothic'

In [2]:
df = pd.read_csv('./data/공공자전거 대여이력 정보_2021.06.csv', engine = 'python')
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30385,2021-05-31 23:07:00,3571,화양 APT(횡단보도 옆),0,2021-06-01 00:00:00,3538,서울숲 IT캐슬,0,53,2502.80
1,SPB-46321,2021-05-31 23:37:19,1911,구로디지털단지역 앞,0,2021-06-01 00:00:02,1843,독산고등학교,0,22,1630.00
2,SPB-48119,2021-05-31 23:48:40,3860,건국대학교 정문 앞,0,2021-06-01 00:00:03,3586,군자역 비채온 오피스텔,0,11,1420.00
3,SPB-55360,2021-05-31 23:47:52,2222,사당역 12번출구 뒤,0,2021-06-01 00:00:05,2228,뒷벌공원 옆,0,12,1350.00
4,SPB-54699,2021-05-31 23:51:14,1955,디지털입구 교차로,0,2021-06-01 00:00:08,1856,모두의학교,0,8,930.00
...,...,...,...,...,...,...,...,...,...,...,...
3445866,SPB-36886,2021-06-30 22:44:14,152,마포구민체육센터 앞,0,2021-07-01 04:48:33,126,서강대 후문 옆,0,364,10153.36
3445867,SPB-30409,2021-06-30 22:45:19,152,마포구민체육센터 앞,0,2021-07-01 04:52:25,437,대흥역 1번출구,0,367,10100.71
3445868,SPB-46230,2021-06-30 22:43:43,152,마포구민체육센터 앞,0,2021-07-01 04:52:27,437,대흥역 1번출구,0,368,430.00
3445869,SPB-41691,2021-06-30 22:11:14,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:29,2526,반포경남쇼핑 앞,0,404,0.00
3445870,SPB-52274,2021-06-30 22:12:10,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:30,2526,반포경남쇼핑 앞,0,403,4541.22

In [3]:
df.isnull().sum()

자전거번호      0
대여일시       0
대여대여소번호    0
대여대여소명     0
대여거치대      0
반납일시       0
반납대여소번호    0
반납대여소명     0
반납거치대      0
이용시간       0
이용거리       0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3445871 entries, 0 to 3445870
Data columns (total 11 columns):
 #   Column   Dtype
---  ------   -----
 0   자전거번호    object
 1   대여일시     object
 2   대여대여소번호  int64
 3   대여대여소명   object
 4   대여거치대    int64
 5   반납일시     object
 6   반납대여소번호  int64
 7   반납대여소명   object
 8   반납거치대    int64
 9   이용시간     int64
 10  이용거리     float64
dtypes: float64(1), int64(5), object(5)
memory usage: 289.2+ MB

In [5]:
df.describe()

,대여대여소번호,대여거치대,반납대여소번호,반납거치대,이용시간,이용거리
count,3.445871e+06,3.445871e+06,3.445871e+06,3.445871e+06,3.445871e+06,3.445871e+06
mean,1.689628e+03,2.556263e+00,1.687082e+03,2.552268e+00,2.588709e+01,3.060081e+03
std,1.246268e+03,1.569001e+01,1.240972e+03,1.567813e+01,2.828476e+01,3.728572e+03
min,3.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,6.740000e+02,0.000000e+00,6.800000e+02,0.000000e+00,8.000000e+00,8.878150e+02
50%,1.362000e+03,0.000000e+00,1.360000e+03,0.000000e+00,1.500000e+01,1.749740e+03
75%,2.408000e+03,0.000000e+00,2.389000e+03,0.000000e+00,3.500000e+01,3.677280e+03
max,9.999900e+04,9.900000e+01,9.999900e+04,9.900000e+01,1.272000e+03,1.993206e+05

- 대여거치대와 반납거치대는 LCD형 자전거의 경우 정해진 거치대에 반납을 해야돼서 거치대순번이 표기된 것.
- 하지만 최근에는 QR형 자전거가 많아졌기 때문에 대부분 0으로 표기됨
- 따라서 필요없는 칼럼이므로 삭제 필요

- 자전거번호, 대여대여소번호, 반납대여소번호, 이용시간, 이용거리 칼럼도 내가 할 분석에는 필요없는 칼럼이므로 삭제
- cf) 이용시간과 이용거리가 0으로 잘못 측정되는 경우도 있다고 함

In [6]:
df = df.drop(['자전거번호', '대여대여소번호', '대여거치대', '반납대여소번호', '반납거치대', '이용시간', '이용거리'], axis = 1)
df

,대여일시,대여대여소명,반납일시,반납대여소명
0,2021-05-31 23:07:00,화양 APT(횡단보도 옆),2021-06-01 00:00:00,서울숲 IT캐슬
1,2021-05-31 23:37:19,구로디지털단지역 앞,2021-06-01 00:00:02,독산고등학교
2,2021-05-31 23:48:40,건국대학교 정문 앞,2021-06-01 00:00:03,군자역 비채온 오피스텔
3,2021-05-31 23:47:52,사당역 12번출구 뒤,2021-06-01 00:00:05,뒷벌공원 옆
4,2021-05-31 23:51:14,디지털입구 교차로,2021-06-01 00:00:08,모두의학교
...,...,...,...,...
3445866,2021-06-30 22:44:14,마포구민체육센터 앞,2021-07-01 04:48:33,서강대 후문 옆
3445867,2021-06-30 22:45:19,마포구민체육센터 앞,2021-07-01 04:52:25,대흥역 1번출구
3445868,2021-06-30 22:43:43,마포구민체육센터 앞,2021-07-01 04:52:27,대흥역 1번출구
3445869,2021-06-30 22:11:14,반포본동 주민센터 앞,2021-07-01 04:55:29,반포경남쇼핑 앞
3445870,2021-06-30 22:12:10,반포본동 주민센터 앞,2021-07-01 04:55:30,반포경남쇼핑 앞

- 대여일시, 반납일시 타입 날짜 타입으로 변경

In [7]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3445871 entries, 0 to 3445870
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일시    datetime64[ns]
 1   대여대여소명  object
 2   반납일시    datetime64[ns]
 3   반납대여소명  object
dtypes: datetime64[ns](2), object(2)
memory usage: 105.2+ MB

In [9]:
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [10]:
df = df.sort_values('대여일시', ignore_index = True)
df

,대여일시,대여대여소명,반납일시,반납대여소명,대여월,대여일,대여요일,대여시간,대여시간_분,반납월,반납일,반납요일,반납시간,반납시간_분
0,2021-05-31 18:39:50,신목동역 2번 출구,2021-06-01 00:10:23,목동아파트2단지 222동 앞,5,31,0,18,39,6,1,1,0,10
1,2021-05-31 19:03:06,잠실새내역 1번출구,2021-06-01 00:27:39,잠실본동주민센터뒤 잠실근린공원,5,31,0,19,3,6,1,1,0,27
2,2021-05-31 19:16:35,조원동서울본병원,2021-06-01 00:15:25,봉림교 교통섬,5,31,0,19,16,6,1,1,0,15
3,2021-05-31 19:17:35,혜화역 3번출구 뒤,2021-06-01 00:33:45,LG베스트샵 종암점,5,31,0,19,17,6,1,1,0,33
4,2021-05-31 19:21:39,뚝섬 유원지역,2021-06-01 00:03:39,뚝섬유원지역 1번출구 앞,5,31,0,19,21,6,1,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445866,2021-06-30 23:56:16,노들역 1번출구,2021-07-01 00:03:17,사육신공원앞,6,30,2,23,56,7,1,3,0,3
3445867,2021-06-30 23:56:22,독립문역 사거리,2021-07-01 00:04:52,독립문역 3-1번출구,6,30,2,23,56,7,1,3,0,4
3445868,2021-06-30 23:56:22,한강트럼프월드3차 앞,2021-07-01 00:06:14,한강트럼프월드3차 앞,6,30,2,23,56,7,1,3,0,6
3445869,2021-06-30 23:58:26,대림아파트 사거리,2021-07-01 00:06:51,신길삼거리(우리은행),6,30,2,23,58,7,1,3,0,6
3445870,2021-06-30 23:58:42,천왕역 1번 출입구 앞,2021-07-01 00:15:37,천왕차량사업소 입구,6,30,2,23,58,7,1,3,0,15

- 대여일시 기준으로 6월인 것부터 분석할 것이므로 대여월이 5인 것은 삭제

In [11]:
df = df[df['대여월'] != 5]
df = df[df['반납월'] != 7]
df

,대여일시,대여대여소명,반납일시,반납대여소명,대여월,대여일,대여요일,대여시간,대여시간_분,반납월,반납일,반납요일,반납시간,반납시간_분
1342,2021-06-01 00:00:01,LG베스트샵 종암점,2021-06-01 00:15:20,용문2교 옆,6,1,1,0,0,6,1,1,0,15
1343,2021-06-01 00:00:01,영등포구청역 1번출구,2021-06-01 00:11:17,유원목동아파트 앞,6,1,1,0,0,6,1,1,0,11
1344,2021-06-01 00:00:02,서남병원 후문,2021-06-01 00:06:00,잣절보도육교 아래,6,1,1,0,0,6,1,1,0,6
1345,2021-06-01 00:00:06,안암2교 옆,2021-06-01 00:04:51,보문역6번출구 앞,6,1,1,0,0,6,1,1,0,4
1346,2021-06-01 00:00:06,한성대입구역2번출구,2021-06-01 00:23:20,상왕십리역 4번 출구 앞,6,1,1,0,0,6,1,1,0,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445569,2021-06-30 22:49:40,양평1 보행육교 앞,2021-06-30 22:53:15,양평동6차현대아파트 앞,6,30,2,22,49,6,30,2,22,53
3445602,2021-06-30 22:50:11,강변역 4번출구 뒤,2021-06-30 22:53:13,구의삼성쉐르빌 앞,6,30,2,22,50,6,30,2,22,53
3445621,2021-06-30 22:50:32,증산3교 앞,2021-06-30 22:52:57,증산3교 앞,6,30,2,22,50,6,30,2,22,52
3445726,2021-06-30 22:52:06,성북3교 위,2021-06-30 23:48:56,성북3교 위,6,30,2,22,52,6,30,2,23,48
3445827,2021-06-30 22:53:28,충북 미래관,2021-06-30 23:48:51,충북 미래관,6,30,2,22,53,6,30,2,23,48

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3442056 entries, 1342 to 3445827
Data columns (total 14 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일시    datetime64[ns]
 1   대여대여소명  object
 2   반납일시    datetime64[ns]
 3   반납대여소명  object
 4   대여월     int64
 5   대여일     int64
 6   대여요일    int64
 7   대여시간    int64
 8   대여시간_분  int64
 9   반납월     int64
 10  반납일     int64
 11  반납요일    int64
 12  반납시간    int64
 13  반납시간_분  int64
dtypes: datetime64[ns](2), int64(10), object(2)
memory usage: 393.9+ MB

In [13]:
df['대여대여소명'] = df['대여대여소명'].astype('category')
df['반납대여소명'] = df['반납대여소명'].astype('category')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3442056 entries, 1342 to 3445827
Data columns (total 14 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일시    datetime64[ns]
 1   대여대여소명  category
 2   반납일시    datetime64[ns]
 3   반납대여소명  category
 4   대여월     int64
 5   대여일     int64
 6   대여요일    int64
 7   대여시간    int64
 8   대여시간_분  int64
 9   반납월     int64
 10  반납일     int64
 11  반납요일    int64
 12  반납시간    int64
 13  반납시간_분  int64
dtypes: category(2), datetime64[ns](2), int64(10)
memory usage: 354.7 MB

- 이전 분석(따릉이_연습4)에서 2021년 6월 데이터 중 대여건수가 가장 많았던 station 상위 10은 
    - 뚝섬유원지역 1번출구 앞	15061 광진구
    - 여의나루역 1번출구 앞	14494 영등포구
    - 봉림교 교통섬	11174 관악구
    - 마포구민체육센터 앞	10998 마포구
    - 마곡나루역 2번 출구	10745 강서구
    - 롯데월드타워(잠실역2번출구 쪽)	9574 송파구
    - 신대방역 2번 출구	8125 관악구
    - 발산역 1번, 9번 인근 대여소	7828 강서구
    - 마곡역교차로	7648 강서구
    - 당산육갑문	7601 영등포구
   
- 일단 이 중 뚝섬유원지역 1번출구 앞	15061 광진구 / 여의나루역 1번출구 앞	14494 영등포구 / 마곡나루역 2번 출구	10745 강서구 / 롯데월드타워(잠실역2번출구 쪽)	9574 송파구 분석 해보기
- 분석 데이터는 21년 6월, 20년 6월, 19년 6월, 18년 6월로 순차적으로 해보기

### 평균서비스율(10분당 자전거 대여수의 평균) = $\mu$
- $\mu$ = 10이면 10분동안 평균 10대의 자전거 대여

In [15]:
df_rental = df[['대여일시', '대여대여소명', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental

                       대여일시       대여대여소명  대여월  대여일  대여요일  대여시간  대여시간_분
1342    2021-06-01 00:00:01   LG베스트샵 종암점    6    1     1     0       0
1343    2021-06-01 00:00:01  영등포구청역 1번출구    6    1     1     0       0
1344    2021-06-01 00:00:02      서남병원 후문    6    1     1     0       0
1345    2021-06-01 00:00:06       안암2교 옆    6    1     1     0       0
1346    2021-06-01 00:00:06   한성대입구역2번출구    6    1     1     0       0
...                     ...          ...  ...  ...   ...   ...     ...
3445569 2021-06-30 22:49:40   양평1 보행육교 앞    6   30     2    22      49
3445602 2021-06-30 22:50:11   강변역 4번출구 뒤    6   30     2    22      50
3445621 2021-06-30 22:50:32       증산3교 앞    6   30     2    22      50
3445726 2021-06-30 22:52:06       성북3교 위    6   30     2    22      52
3445827 2021-06-30 22:53:28       충북 미래관    6   30     2    22      53

[3442056 rows x 7 columns]

In [16]:
df_rental = df_rental[df_rental['대여대여소명'] == '롯데월드타워(잠실역2번출구 쪽)']
df_rental

                       대여일시             대여대여소명  대여월  대여일  대여요일  대여시간  대여시간_분
2673    2021-06-01 00:33:11  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      33
3059    2021-06-01 00:44:52  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      44
3244    2021-06-01 00:50:57  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      50
5852    2021-06-01 02:59:46  롯데월드타워(잠실역2번출구 쪽)    6    1     1     2      59
6729    2021-06-01 04:30:58  롯데월드타워(잠실역2번출구 쪽)    6    1     1     4      30
...                     ...                ...  ...  ...   ...   ...     ...
3437282 2021-06-30 21:45:06  롯데월드타워(잠실역2번출구 쪽)    6   30     2    21      45
3439761 2021-06-30 22:02:31  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22       2
3440841 2021-06-30 22:08:56  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22       8
3441184 2021-06-30 22:11:04  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      11
3441366 2021-06-30 22:12:23  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      12

[9517 rows x 7 columns]

In [19]:
df_rental_1 = df_rental[df_rental['대여일'] == 1]
df_rental_1

                      대여일시             대여대여소명  대여월  대여일  대여요일  대여시간  대여시간_분
2673   2021-06-01 00:33:11  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      33
3059   2021-06-01 00:44:52  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      44
3244   2021-06-01 00:50:57  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      50
5852   2021-06-01 02:59:46  롯데월드타워(잠실역2번출구 쪽)    6    1     1     2      59
6729   2021-06-01 04:30:58  롯데월드타워(잠실역2번출구 쪽)    6    1     1     4      30
...                    ...                ...  ...  ...   ...   ...     ...
105490 2021-06-01 22:32:44  롯데월드타워(잠실역2번출구 쪽)    6    1     1    22      32
106575 2021-06-01 22:44:34  롯데월드타워(잠실역2번출구 쪽)    6    1     1    22      44
106622 2021-06-01 22:45:08  롯데월드타워(잠실역2번출구 쪽)    6    1     1    22      45
110213 2021-06-01 23:40:49  롯데월드타워(잠실역2번출구 쪽)    6    1     1    23      40
110256 2021-06-01 23:42:13  롯데월드타워(잠실역2번출구 쪽)    6    1     1    23      42

[279 rows x 7 columns]

In [24]:
df_rental_1_8 = df_rental_1[df_rental_1['대여시간'] == 8]
df_rental_1_8   # ignore_index = True

                     대여일시             대여대여소명  대여월  대여일  대여요일  대여시간  대여시간_분
10566 2021-06-01 08:00:10  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8       0
11030 2021-06-01 08:10:46  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      10
12895 2021-06-01 08:35:41  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      35
13115 2021-06-01 08:37:44  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      37
13255 2021-06-01 08:39:06  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      39
13628 2021-06-01 08:42:14  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      42
14094 2021-06-01 08:45:49  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      45
14342 2021-06-01 08:47:56  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      47
14560 2021-06-01 08:49:52  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      49
15032 2021-06-01 08:54:48  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      54
15075 2021-06-01 08:55:11  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      55
15119 2021-06-01 08:55:46  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      55
15123 2021-06-01 08:55:50  롯데월드타워(잠실역2번출구 쪽)    6    1     1     8      55

- 대여시간_분을 기준으로 0-9, 10-19, 20-29, 30-39, 40-49, 50-59를 묶어서 count

In [ ]:
c = 0

if df_rental_1_8['대여시간_분']

### 평균도착률(10분당 자전거 반납수의 평균) = $\lambda$
- $\lambda$ = 10이면 10분동안 평균 10대의 자전거를 반납

In [17]:
df_return = df[['반납일시', '반납대여소명', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return

                       반납일시         반납대여소명  반납월  반납일  반납요일  반납시간  반납시간_분
1342    2021-06-01 00:15:20         용문2교 옆    6    1     1     0      15
1343    2021-06-01 00:11:17      유원목동아파트 앞    6    1     1     0      11
1344    2021-06-01 00:06:00      잣절보도육교 아래    6    1     1     0       6
1345    2021-06-01 00:04:51      보문역6번출구 앞    6    1     1     0       4
1346    2021-06-01 00:23:20  상왕십리역 4번 출구 앞    6    1     1     0      23
...                     ...            ...  ...  ...   ...   ...     ...
3445569 2021-06-30 22:53:15   양평동6차현대아파트 앞    6   30     2    22      53
3445602 2021-06-30 22:53:13      구의삼성쉐르빌 앞    6   30     2    22      53
3445621 2021-06-30 22:52:57         증산3교 앞    6   30     2    22      52
3445726 2021-06-30 23:48:56         성북3교 위    6   30     2    23      48
3445827 2021-06-30 23:48:51         충북 미래관    6   30     2    23      48

[3442056 rows x 7 columns]

In [18]:
df_return = df_return[df_return['반납대여소명'] == '롯데월드타워(잠실역2번출구 쪽)']
df_return

                       반납일시             반납대여소명  반납월  반납일  반납요일  반납시간  반납시간_분
1772    2021-06-01 00:13:16  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      13
2673    2021-06-01 00:36:29  롯데월드타워(잠실역2번출구 쪽)    6    1     1     0      36
4196    2021-06-01 01:38:07  롯데월드타워(잠실역2번출구 쪽)    6    1     1     1      38
6658    2021-06-01 04:29:38  롯데월드타워(잠실역2번출구 쪽)    6    1     1     4      29
6691    2021-06-01 04:39:19  롯데월드타워(잠실역2번출구 쪽)    6    1     1     4      39
...                     ...                ...  ...  ...   ...   ...     ...
3436738 2021-06-30 22:05:26  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22       5
3437969 2021-06-30 22:11:58  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      11
3438474 2021-06-30 22:10:35  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      10
3444854 2021-06-30 22:49:46  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      49
3445099 2021-06-30 22:52:11  롯데월드타워(잠실역2번출구 쪽)    6   30     2    22      52

[9519 rows x 7 columns]

### 가용도(고객이 station에 도착했을 때 자전거가 station에 있을 확률)
$1 - (1 - \frac{\lambda}{\mu})(\frac{\lambda}{\mu})^0$ = $\frac{\lambda}{\mu}$