# Ⅳ. 따릉이 유저 분석
- 2020년 7월 ~ 2021년 6월 따릉이 시간대별 이용정보 데이터 사용

## 데이터 로드

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import missingno as msno
import warnings
warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'NanumGothic'

- 2020년 7월 ~ 2021년 6월 데이터 월별로 되어 있는 걸 2020.07-2021.06 데이터프레임 만들기(2020.07-2021.06.pkl)
- 용량이 매우 크므로 pkl로 만들어서 사용

In [11]:
import os

dirs = os.getcwd() + './대학원/데이터/원본 데이터/' + '공공자전거 시간대별 이용정보/'
files = os.listdir(dirs)
files

['공공자전거 이용정보(시간대별)_20_07.csv',
 '공공자전거 이용정보(시간대별)_20_08.csv',
 '공공자전거 이용정보(시간대별)_20_09.csv',
 '공공자전거 이용정보(시간대별)_20_10.csv',
 '공공자전거 이용정보(시간대별)_20_11.csv',
 '공공자전거 이용정보(시간대별)_20_12.csv',
 '공공자전거 이용정보(시간대별)_21_01.csv',
 '공공자전거 이용정보(시간대별)_21_2.csv',
 '공공자전거 이용정보(시간대별)_21_3.csv',
 '공공자전거 이용정보(시간대별)_21_4.csv',
 '공공자전거 이용정보(시간대별)_21_5.csv',
 '공공자전거 이용정보(시간대별)_21_6.csv']

In [21]:
try:
    df = pd.read_pickle('./대학원/데이터/원본 데이터/공공자전거 시간대별 이용정보/2020.07-2021.06.pkl')
except:
    df = pd.DataFrame()
    
    column_types = {
        '대여시간': 'int32',
        '대여소번호': 'category',
        '대여소명': 'category',
        '대여구분코드': 'category',
        '성별': 'category',
        '연령대코드': 'category',
        '이용건수': 'int32',
        #'운동량': 'float32',
        #'탄소량': 'float32',   운동량과 탄소량 칼럼이 숫자가 아니라 object로 되어 있음. 따로 처리
        '이동거리': 'int32',
        '사용시간': 'int32'
    }
    
    total = len(files)
    for i, file in enumerate(files, 1):
        print('%d/%d loaded...' %(i, total))
        
        formatter = file.split('.')[1]
        if formatter == 'xlsx':
            _df = pd.read_excel(dirs + file, dtype = column_types, parse_dates = ['대여일자'])
        elif formatter == 'csv':
            _df = pd.read_csv(dirs + file, dtype = column_types, parse_dates = ['대여일자'], engine = 'python', error_bad_lines=False)
        df = pd.concat([df, _df], ignore_index = True)
        
    df['대여소번호'] = df['대여소번호'].astype('category')
    df['대여소명'] = df['대여소명'].astype('category')
    df['대여구분코드'] = df['대여구분코드'].astype('category')
    
    df.to_pickle('./대학원/데이터/원본 데이터/공공자전거 시간대별 이용정보/2020.07-2021.06.pkl')

1/12 loaded...
2/12 loaded...
3/12 loaded...
4/12 loaded...
5/12 loaded...
6/12 loaded...
7/12 loaded...
8/12 loaded...

Skipping line 37445: ',' expected after '"'
Skipping line 41217: ',' expected after '"'
Skipping line 42478: ',' expected after '"'
Skipping line 52486: ',' expected after '"'
Skipping line 58712: ',' expected after '"'
Skipping line 109901: ',' expected after '"'
Skipping line 236992: ',' expected after '"'
Skipping line 258228: ',' expected after '"'
Skipping line 296907: ',' expected after '"'
Skipping line 474268: ',' expected after '"'
Skipping line 509137: ',' expected after '"'
Skipping line 514117: ',' expected after '"'
Skipping line 516631: ',' expected after '"'
Skipping line 577957: ',' expected after '"'
Skipping line 616658: ',' expected after '"'
Skipping line 671294: ',' expected after '"'
Skipping line 799276: ',' expected after '"'
Skipping line 866632: ',' expected after '"'
Skipping line 968937: ',' expected after '"'
Skipping line 1100397: ',' expected after '"'

9/12 loaded...

Skipping line 54978: ',' expected after '"'
Skipping line 89902: ',' expected after '"'
Skipping line 113631: ',' expected after '"'
Skipping line 114889: ',' expected after '"'
Skipping line 141164: ',' expected after '"'
Skipping line 151086: ',' expected after '"'
Skipping line 199650: ',' expected after '"'
Skipping line 335141: ',' expected after '"'
Skipping line 393787: ',' expected after '"'
Skipping line 453680: ',' expected after '"'
Skipping line 463616: ',' expected after '"'
Skipping line 526069: ',' expected after '"'
Skipping line 545944: ',' expected after '"'
Skipping line 583313: ',' expected after '"'
Skipping line 588265: ',' expected after '"'
Skipping line 627998: ',' expected after '"'
Skipping line 635459: ',' expected after '"'
Skipping line 640422: ',' expected after '"'
Skipping line 641663: ',' expected after '"'
Skipping line 658970: ',' expected after '"'
Skipping line 683762: ',' expected after '"'
Skipping line 733743: ',' expected after '"'
Skipping line 792429: ',' expected after '"'
Skipping line 843669: ',' expected after '"'
Skipping line 851128: ',' expected after '"'
Skipping line 854859: ',' expected after '"'
Skipping line 938373: ',' expected after '"'
Skipping line 1020601: ',' expected after '"'
Skipping line 1123942: ',' expected after '"'
Skipping line 1125212: ',' expected after '"'
Skipping line 1266182: ',' expected after '"'
Skipping line 1363549: ',' expected after '"'
Skipping line 1380964: ',' expected after '"'
Skipping line 1442082: ',' expected after '"'
Skipping line 1471912: ',' expected after '"'
Skipping line 1539086: ',' expected after '"'
Skipping line 1556574: ',' expected after '"'
Skipping line 1612726: ',' expected after '"'
Skipping line 1617736: ',' expected after '"'
Skipping line 1627832: ',' expected after '"'
Skipping line 1629094: ',' expected after '"'
Skipping line 1660248: ',' expected after '"'
Skipping line 1703771: ',' expected after '"'
Skipping line 1771070: ',' expected after '"'
Skipping line 1778510: ',' expected after '"'
Skipping line 1782211: ',' expected after '"'
Skipping line 1792131: ',' expected after '"'

10/12 loaded...
11/12 loaded...
12/12 loaded...

In [22]:
df = pd.read_pickle('./대학원/데이터/원본 데이터/공공자전거 시간대별 이용정보/2020.07-2021.06.pkl')
df.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2020-07-01,0,00740,740. 으뜸공원,정기권,NaN,~10대,1,13.97,0.10,440,5
1,2020-07-01,0,00939,939. 은평구청 교차로,정기권,NaN,~10대,1,0.00,0.00,0,20
2,2020-07-01,0,01026,1026. 대명초교 입구 교차로,정기권,NaN,~10대,1,0.00,0.00,0,21
3,2020-07-01,0,01044,1044. 굽은다리역,정기권,NaN,~10대,3,52.53,0.31,1326,24
4,2020-07-01,0,01721,1721. 창동역 2번출구,정기권,NaN,~10대,2,62.37,0.49,2100,60

In [23]:
df.tail()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
21900360,2021-06-30,23,01640,1640. 한내근린공원 북측,정기권,NaN,30대,1,5.79,0.04,176,14
21900361,2021-06-30,23,00250,250. 대림아파트 사거리,정기권,NaN,40대,1,0.00,0.00,0,8
21900362,2021-06-30,23,01195,1195. 코오롱One&Only타워,정기권,F,20대,1,46.50,0.52,2258,17
21900363,2021-06-30,23,00372,372. 약수역 3번출구 뒤,정기권,M,40대,1,28.43,0.19,797,14
21900364,2021-06-30,23,01044,1044. 굽은다리역,정기권,M,50대,1,12.65,0.10,450,14

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21900365 entries, 0 to 21900364
Data columns (total 12 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일자    datetime64[ns]
 1   대여시간    int32
 2   대여소번호   category
 3   대여소명    category
 4   대여구분코드  category
 5   성별      category
 6   연령대코드   category
 7   이용건수    int32
 8   운동량     object
 9   탄소량     object
 10  이동거리    int32
 11  사용시간    int32
dtypes: category(5), datetime64[ns](1), int32(4), object(2)
memory usage: 981.8+ MB

- 운동량과 탄소량 칼럼 object이므로(\\N이 포함되어 있음) float32로 바꿔야 함

In [30]:
df['운동량'] = df['운동량'].replace({'\\N': np.nan}).astype('float64')

In [31]:
df['탄소량'] = df['탄소량'].replace({'\\N': np.nan}).astype('float64')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21900365 entries, 0 to 21900364
Data columns (total 12 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일자    datetime64[ns]
 1   대여시간    int32
 2   대여소번호   category
 3   대여소명    category
 4   대여구분코드  category
 5   성별      category
 6   연령대코드   category
 7   이용건수    int32
 8   운동량     float64
 9   탄소량     float64
 10  이동거리    int32
 11  사용시간    int32
dtypes: category(5), datetime64[ns](1), float64(2), int32(4)
memory usage: 981.8 MB

- 카테고리 칼럼들 전체 집합 확인

In [ ]:
df['대여소명']