In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
import os

dirs = os.getcwd() + './data/smin, smax결과/여름'
files = os.listdir(dirs)
files

['CJ 드림시티.xlsx',
 '고속터미널역 8-1번, 8-2번 출구 사이.xlsx',
 '공릉역 1번 출구 앞.xlsx',
 '독산보도육교 앞 자전거 보관소.xlsx',
 '동묘앞역 1번출구 뒤.xlsx',
 '뚝섬유원지역 1번출구 앞.xlsx',
 '롯데월드타워(잠실역2번출구 쪽).xlsx',
 '마곡나루역 2번 출구.xlsx',
 '마포구민체육센터 앞.xlsx',
 '목동역5번출구 교통정보센터 앞.xlsx',
 '봉림교 교통섬.xlsx',
 '신도림역 1번 출구 앞.xlsx',
 '안암로터리 버스정류장 앞.xlsx',
 '여의나루역 1번출구 앞.xlsx',
 '옥수역 3번출구.xlsx',
 '용산역 맞은편.xlsx',
 '이디야 커피 수유역점 앞.xlsx',
 '장한평역 1번출구 (국민은행앞).xlsx',
 '중랑세무서.xlsx',
 '창동역 2번출구.xlsx',
 '천호역4번출구(현대백화점).xlsx',
 '청계천 영도교.xlsx',
 '현대고등학교 건너편.xlsx',
 '홍은사거리.xlsx',
 '흑석역 1번출구.xlsx']

In [3]:
df0 = pd.read_excel('./data/smin, smax결과/여름/CJ 드림시티.xlsx')
df0 = df0.rename(columns = {'s_min' : 'CJ 드림시티s_min', 's_max' : 'CJ 드림시티s_max'})
df0

   time  CJ 드림시티s_min  CJ 드림시티s_max
0    0시             4            20
1    1시             3            20
2    2시             3            20
3    3시             3            20
4    4시             3            20
5    5시             3            20
6    6시             3            20
7    7시             3            20
8    8시             3            20
9    9시             3            20
10  10시             3            20
11  11시             3            20
12  12시             3            20
13  13시             3            20
14  14시             3            20
15  15시             3            20
16  16시             3            20
17  17시             3            20
18  18시             3            20
19  19시             3            20
20  20시             3            20
21  21시             3            20
22  22시             3            20
23  23시             3            20

In [4]:
df1 = pd.read_excel('./data/smin, smax결과/여름/고속터미널역 8-1번, 8-2번 출구 사이.xlsx')
df1 = df1.rename(columns = {'s_min' : '고속터미널역 8-1번, 8-2번 출구 사이s_min', 's_max' : '고속터미널역 8-1번, 8-2번 출구 사이s_max'})
df1

   time  고속터미널역 8-1번, 8-2번 출구 사이s_min  고속터미널역 8-1번, 8-2번 출구 사이s_max
0    0시                             2                            24
1    1시                             2                            24
2    2시                             2                            25
3    3시                             2                            25
4    4시                             2                            25
5    5시                             2                            25
6    6시                             2                            25
7    7시                             2                            25
8    8시                             2                            25
9    9시                             2                            25
10  10시                             2                            25
11  11시                             2                            25
12  12시                             2                            25
13  13시                             2                            25
14  14시                             2                            25
15  15시                             2                            25
16  16시                             2                            25
17  17시                             2                            24
18  18시                             3                            24
19  19시                             3                            24
20  20시                             3                            24
21  21시                             3                            24
22  22시                             3                            24
23  23시                             3                            24

In [5]:
df2 = pd.read_excel('./data/smin, smax결과/여름/공릉역 1번 출구 앞.xlsx')
df2 = df2.rename(columns = {'s_min' : '공릉역 1번 출구 앞s_min', 's_max' : '공릉역 1번 출구 앞s_max'})
df2

   time  공릉역 1번 출구 앞s_min  공릉역 1번 출구 앞s_max
0    0시                 3                12
1    1시                 3                12
2    2시                 3                13
3    3시                 3                13
4    4시                 3                13
5    5시                 3                13
6    6시                 2                13
7    7시                 3                13
8    8시                 3                13
9    9시                 3                13
10  10시                 3                13
11  11시                 3                13
12  12시                 3                13
13  13시                 3                13
14  14시                 3                13
15  15시                 3                13
16  16시                 3                13
17  17시                 3                13
18  18시                 3                13
19  19시                 3                13
20  20시                 3                13
21  21시                 3                13
22  22시                 3                13
23  23시                 3                12

In [6]:
df3 = pd.read_excel('./data/smin, smax결과/여름/독산보도육교 앞 자전거 보관소.xlsx')
df3 = df3.rename(columns = {'s_min' : '독산보도육교 앞 자전거 보관소s_min', 's_max' : '독산보도육교 앞 자전거 보관소s_max'})
df3

   time  독산보도육교 앞 자전거 보관소s_min  독산보도육교 앞 자전거 보관소s_max
0    0시                      2                     10
1    1시                      2                     10
2    2시                      2                     10
3    3시                      2                     10
4    4시                      2                     10
5    5시                      2                     10
6    6시                      2                     10
7    7시                      2                      9
8    8시                      2                      9
9    9시                      2                      9
10  10시                      2                      9
11  11시                      2                      9
12  12시                      2                      9
13  13시                      2                      9
14  14시                      2                      9
15  15시                      2                      9
16  16시                      2                      9
17  17시                      2                      9
18  18시                      2                      9
19  19시                      2                      8
20  20시                      2                      8
21  21시                      3                      9
22  22시                      3                      9
23  23시                      3                      9

In [7]:
df4 = pd.read_excel('./data/smin, smax결과/여름/동묘앞역 1번출구 뒤.xlsx')
df4 = df4.rename(columns = {'s_min' : '동묘앞역 1번출구 뒤s_min', 's_max' : '동묘앞역 1번출구 뒤s_max'})
df4

   time  동묘앞역 1번출구 뒤s_min  동묘앞역 1번출구 뒤s_max
0    0시                 2                 6
1    1시                 2                 6
2    2시                 2                 6
3    3시                 2                 6
4    4시                 2                 6
5    5시                 2                 6
6    6시                 2                 6
7    7시                 2                 6
8    8시                 2                 6
9    9시                 2                 6
10  10시                 2                 6
11  11시                 2                 6
12  12시                 2                 6
13  13시                 2                 6
14  14시                 2                 6
15  15시                 2                 6
16  16시                 2                 6
17  17시                 2                 6
18  18시                 2                 6
19  19시                 2                 6
20  20시                 2                 6
21  21시                 2                 6
22  22시                 2                 6
23  23시                 2                 6

In [8]:
df5 = pd.read_excel('./data/smin, smax결과/여름/뚝섬유원지역 1번출구 앞.xlsx')
df5 = df5.rename(columns = {'s_min' : '뚝섬유원지역 1번출구 앞s_min', 's_max' : '뚝섬유원지역 1번출구 앞s_max'})
df5

   time  뚝섬유원지역 1번출구 앞s_min  뚝섬유원지역 1번출구 앞s_max
0    0시                   3                  55
1    1시                   3                  55
2    2시                   3                  55
3    3시                   3                  55
4    4시                   3                  55
5    5시                   3                  55
6    6시                   3                  55
7    7시                   3                  56
8    8시                   3                  55
9    9시                   3                  55
10  10시                   3                  56
11  11시                   3                  56
12  12시                   3                  56
13  13시                   3                  55
14  14시                   3                  55
15  15시                   3                  55
16  16시                   3                  55
17  17시                   3                  55
18  18시                   3                  55
19  19시                   3                  56
20  20시                   3                  56
21  21시                   3                  56
22  22시                   3                  56
23  23시                   3                  56

In [9]:
df6 = pd.read_excel('./data/smin, smax결과/여름/롯데월드타워(잠실역2번출구 쪽).xlsx')
df6 = df6.rename(columns = {'s_min' : '롯데월드타워(잠실역2번출구 쪽)s_min', 's_max' : '롯데월드타워(잠실역2번출구 쪽)s_max'})
df6

   time  롯데월드타워(잠실역2번출구 쪽)s_min  롯데월드타워(잠실역2번출구 쪽)s_max
0    0시                       2                      22
1    1시                       2                      22
2    2시                       2                      22
3    3시                       2                      22
4    4시                       2                      22
5    5시                       2                      23
6    6시                       2                      23
7    7시                       3                      23
8    8시                       3                      22
9    9시                       3                      22
10  10시                       3                      22
11  11시                       3                      22
12  12시                       3                      22
13  13시                       3                      22
14  14시                       3                      22
15  15시                       3                      22
16  16시                       3                      21
17  17시                       3                      21
18  18시                       3                      21
19  19시                       3                      21
20  20시                       3                      21
21  21시                       3                      21
22  22시                       3                      21
23  23시                       3                      21

In [10]:
df7 = pd.read_excel('./data/smin, smax결과/여름/마곡나루역 2번 출구.xlsx')
df7 = df7.rename(columns = {'s_min' : '마곡나루역 2번 출구s_min', 's_max' : '마곡나루역 2번 출구s_max'})
df7

   time  마곡나루역 2번 출구s_min  마곡나루역 2번 출구s_max
0    0시                 2                 9
1    1시                 2                 9
2    2시                 2                 9
3    3시                 2                 9
4    4시                 2                 9
5    5시                 2                 9
6    6시                 2                 9
7    7시                 2                 9
8    8시                 2                 9
9    9시                 2                 9
10  10시                 2                 9
11  11시                 2                 9
12  12시                 2                 9
13  13시                 2                 9
14  14시                 2                 9
15  15시                 2                 9
16  16시                 2                 9
17  17시                 2                 9
18  18시                 2                 9
19  19시                 2                 9
20  20시                 2                 8
21  21시                 2                 8
22  22시                 2                 8
23  23시                 2                 8

In [11]:
df8 = pd.read_excel('./data/smin, smax결과/여름/마포구민체육센터 앞.xlsx')
df8 = df8.rename(columns = {'s_min' : '마포구민체육센터 앞s_min', 's_max' : '마포구민체육센터 앞s_max'})
df8

   time  마포구민체육센터 앞s_min  마포구민체육센터 앞s_max
0    0시                4               38
1    1시                3               37
2    2시                3               37
3    3시                3               38
4    4시                3               38
5    5시                3               38
6    6시                3               38
7    7시                3               38
8    8시                2               38
9    9시                2               38
10  10시                2               38
11  11시                2               38
12  12시                2               38
13  13시                2               38
14  14시                2               38
15  15시                3               37
16  16시                3               38
17  17시                3               38
18  18시                3               38
19  19시                3               38
20  20시                3               38
21  21시                3               38
22  22시                3               38
23  23시                3               38

In [12]:
df9 = pd.read_excel('./data/smin, smax결과/여름/목동역5번출구 교통정보센터 앞.xlsx')
df9 = df9.rename(columns = {'s_min' : '목동역5번출구 교통정보센터 앞s_min', 's_max' : '목동역5번출구 교통정보센터 앞s_max'})
df9

   time  목동역5번출구 교통정보센터 앞s_min  목동역5번출구 교통정보센터 앞s_max
0    0시                      2                      6
1    1시                      2                      6
2    2시                      2                      6
3    3시                      2                      6
4    4시                      2                      6
5    5시                      2                      6
6    6시                      2                      6
7    7시                      2                      6
8    8시                      2                      6
9    9시                      2                      6
10  10시                      2                      6
11  11시                      2                      6
12  12시                      2                      6
13  13시                      2                      6
14  14시                      2                      6
15  15시                      2                      6
16  16시                      2                      6
17  17시                      2                      6
18  18시                      2                      6
19  19시                      2                      6
20  20시                      2                      6
21  21시                      2                      6
22  22시                      2                      6
23  23시                      2                      6

In [13]:
df10 = pd.read_excel('./data/smin, smax결과/여름/봉림교 교통섬.xlsx')
df10 = df10.rename(columns = {'s_min' : '봉림교 교통섬s_min', 's_max' : '봉림교 교통섬s_max'})
df10

   time  봉림교 교통섬s_min  봉림교 교통섬s_max
0    0시             3            35
1    1시             3            35
2    2시             3            35
3    3시             3            35
4    4시             3            35
5    5시             3            35
6    6시             2            35
7    7시             2            35
8    8시             2            35
9    9시             2            35
10  10시             2            35
11  11시             2            35
12  12시             3            35
13  13시             3            35
14  14시             3            35
15  15시             3            35
16  16시             3            35
17  17시             3            35
18  18시             3            35
19  19시             3            35
20  20시             3            35
21  21시             3            35
22  22시             3            35
23  23시             3            35

In [14]:
df11 = pd.read_excel('./data/smin, smax결과/여름/신도림역 1번 출구 앞.xlsx')
df11 = df11.rename(columns = {'s_min' : '신도림역 1번 출구 앞s_min', 's_max' : '신도림역 1번 출구 앞s_max'})
df11

   time  신도림역 1번 출구 앞s_min  신도림역 1번 출구 앞s_max
0    0시                  2                 17
1    1시                  2                 17
2    2시                  2                 17
3    3시                  2                 17
4    4시                  2                 17
5    5시                  2                 17
6    6시                  2                 17
7    7시                  2                 17
8    8시                  2                 17
9    9시                  3                 17
10  10시                  3                 17
11  11시                  3                 17
12  12시                  3                 17
13  13시                  3                 17
14  14시                  3                 17
15  15시                  3                 17
16  16시                  3                 17
17  17시                  3                 16
18  18시                  3                 16
19  19시                  3                 16
20  20시                  3                 16
21  21시                  3                 16
22  22시                  3                 16
23  23시                  3                 16

In [15]:
df12 = pd.read_excel('./data/smin, smax결과/여름/안암로터리 버스정류장 앞.xlsx')
df12 = df12.rename(columns = {'s_min' : '안암로터리 버스정류장 앞s_min', 's_max' : '안암로터리 버스정류장 앞s_max'})
df12

   time  안암로터리 버스정류장 앞s_min  안암로터리 버스정류장 앞s_max
0    0시                   3                  12
1    1시                   3                  12
2    2시                   3                  12
3    3시                   2                  12
4    4시                   2                  12
5    5시                   2                  12
6    6시                   2                  12
7    7시                   2                  12
8    8시                   3                  12
9    9시                   3                  12
10  10시                   3                  12
11  11시                   3                  12
12  12시                   3                  12
13  13시                   3                  12
14  14시                   3                  12
15  15시                   3                  12
16  16시                   3                  12
17  17시                   3                  12
18  18시                   3                  12
19  19시                   3                  12
20  20시                   3                  12
21  21시                   3                  12
22  22시                   3                  12
23  23시                   3                  12

In [16]:
df13 = pd.read_excel('./data/smin, smax결과/여름/여의나루역 1번출구 앞.xlsx')
df13 = df13.rename(columns = {'s_min' : '여의나루역 1번출구 앞s_min', 's_max' : '여의나루역 1번출구 앞s_max'})
df13

   time  여의나루역 1번출구 앞s_min  여의나루역 1번출구 앞s_max
0    0시                  3                 63
1    1시                  3                 64
2    2시                  3                 64
3    3시                  3                 64
4    4시                  3                 64
5    5시                  3                 64
6    6시                  2                 64
7    7시                  2                 64
8    8시                  2                 64
9    9시                  2                 64
10  10시                  2                 64
11  11시                  2                 64
12  12시                  2                 64
13  13시                  2                 64
14  14시                  2                 64
15  15시                  2                 64
16  16시                  2                 64
17  17시                  2                 64
18  18시                  2                 64
19  19시                  3                 64
20  20시                  3                 64
21  21시                  3                 64
22  22시                  3                 64
23  23시                  3                 64

In [17]:
df14 = pd.read_excel('./data/smin, smax결과/여름/옥수역 3번출구.xlsx')
df14 = df14.rename(columns = {'s_min' : '옥수역 3번출구s_min', 's_max' : '옥수역 3번출구s_max'})
df14

   time  옥수역 3번출구s_min  옥수역 3번출구s_max
0    0시              3             22
1    1시              3             22
2    2시              3             22
3    3시              3             22
4    4시              3             22
5    5시              2             22
6    6시              2             22
7    7시              2             22
8    8시              2             22
9    9시              2             22
10  10시              2             22
11  11시              2             22
12  12시              2             22
13  13시              2             22
14  14시              2             22
15  15시              2             22
16  16시              2             22
17  17시              2             21
18  18시              2             21
19  19시              3             21
20  20시              3             21
21  21시              3             21
22  22시              3             21
23  23시              3             22

In [18]:
df15 = pd.read_excel('./data/smin, smax결과/여름/용산역 맞은편.xlsx')
df15 = df15.rename(columns = {'s_min' : '용산역 맞은편s_min', 's_max' : '용산역 맞은편s_max'})
df15

   time  용산역 맞은편s_min  용산역 맞은편s_max
0    0시             1             4
1    1시             1             4
2    2시             1             4
3    3시             1             5
4    4시             1             5
5    5시             1             5
6    6시             1             5
7    7시             1             5
8    8시             1             5
9    9시             1             5
10  10시             2             5
11  11시             2             5
12  12시             2             5
13  13시             2             4
14  14시             2             4
15  15시             2             4
16  16시             2             4
17  17시             2             4
18  18시             2             4
19  19시             2             4
20  20시             2             4
21  21시             2             4
22  22시             2             4
23  23시             2             4

In [19]:
df16 = pd.read_excel('./data/smin, smax결과/여름/이디야 커피 수유역점 앞.xlsx')
df16 = df16.rename(columns = {'s_min' : '이디야 커피 수유역점 앞s_min', 's_max' : '이디야 커피 수유역점 앞s_max'})
df16

   time  이디야 커피 수유역점 앞s_min  이디야 커피 수유역점 앞s_max
0    0시                   2                   7
1    1시                   2                   7
2    2시                   2                   7
3    3시                   2                   7
4    4시                   2                   7
5    5시                   2                   7
6    6시                   2                   7
7    7시                   2                   7
8    8시                   2                   7
9    9시                   2                   7
10  10시                   2                   7
11  11시                   2                   7
12  12시                   2                   7
13  13시                   2                   7
14  14시                   2                   7
15  15시                   2                   7
16  16시                   2                   7
17  17시                   2                   7
18  18시                   2                   7
19  19시                   2                   7
20  20시                   2                   7
21  21시                   2                   7
22  22시                   2                   7
23  23시                   2                   7

In [20]:
df17 = pd.read_excel('./data/smin, smax결과/여름/장한평역 1번출구 (국민은행앞).xlsx')
df17 = df17.rename(columns = {'s_min' : '장한평역 1번출구 (국민은행앞)s_min', 's_max' : '장한평역 1번출구 (국민은행앞)s_max'})
df17

   time  장한평역 1번출구 (국민은행앞)s_min  장한평역 1번출구 (국민은행앞)s_max
0    0시                       2                       8
1    1시                       2                       8
2    2시                       2                       8
3    3시                       2                       8
4    4시                       2                       8
5    5시                       2                       8
6    6시                       2                       8
7    7시                       3                       8
8    8시                       3                       8
9    9시                       3                       8
10  10시                       3                       8
11  11시                       3                       8
12  12시                       3                       8
13  13시                       3                       8
14  14시                       3                       8
15  15시                       3                       8
16  16시                       3                       8
17  17시                       3                       8
18  18시                       3                       8
19  19시                       3                       8
20  20시                       3                       8
21  21시                       3                       8
22  22시                       3                       8
23  23시                       3                       8

In [21]:
df18 = pd.read_excel('./data/smin, smax결과/여름/중랑세무서.xlsx')
df18 = df18.rename(columns = {'s_min' : '중랑세무서s_min', 's_max' : '중랑세무서s_max'})
df18

   time  중랑세무서s_min  중랑세무서s_max
0    0시           2           9
1    1시           2           9
2    2시           2           9
3    3시           2           9
4    4시           2           9
5    5시           2           9
6    6시           2           9
7    7시           2           9
8    8시           2           9
9    9시           2           9
10  10시           2           9
11  11시           2           9
12  12시           2           9
13  13시           2           9
14  14시           2           9
15  15시           2           9
16  16시           2           9
17  17시           2           9
18  18시           2           9
19  19시           2           9
20  20시           2           9
21  21시           2           9
22  22시           2           9
23  23시           2           9

In [22]:
df19 = pd.read_excel('./data/smin, smax결과/여름/창동역 2번출구.xlsx')
df19 = df19.rename(columns = {'s_min' : '창동역 2번출구s_min', 's_max' : '창동역 2번출구s_max'})
df19

   time  창동역 2번출구s_min  창동역 2번출구s_max
0    0시              2              7
1    1시              2              7
2    2시              2              7
3    3시              2              7
4    4시              2              7
5    5시              2              7
6    6시              2              7
7    7시              2              7
8    8시              2              7
9    9시              2              7
10  10시              2              7
11  11시              2              7
12  12시              2              7
13  13시              2              7
14  14시              2              7
15  15시              3              7
16  16시              3              7
17  17시              3              7
18  18시              3              7
19  19시              2              7
20  20시              2              7
21  21시              2              7
22  22시              2              7
23  23시              2              7

In [23]:
df20 = pd.read_excel('./data/smin, smax결과/여름/천호역4번출구(현대백화점).xlsx')
df20 = df20.rename(columns = {'s_min' : '천호역4번출구(현대백화점)s_min', 's_max' : '천호역4번출구(현대백화점)s_max'})
df20

   time  천호역4번출구(현대백화점)s_min  천호역4번출구(현대백화점)s_max
0    0시                    2                   11
1    1시                    2                   11
2    2시                    2                   11
3    3시                    2                   11
4    4시                    2                   11
5    5시                    2                   11
6    6시                    2                   11
7    7시                    2                   11
8    8시                    2                   11
9    9시                    2                   11
10  10시                    2                   11
11  11시                    2                   11
12  12시                    2                   11
13  13시                    2                   11
14  14시                    2                   11
15  15시                    2                   11
16  16시                    2                   11
17  17시                    2                   11
18  18시                    2                   11
19  19시                    3                   10
20  20시                    3                   10
21  21시                    3                   10
22  22시                    3                   10
23  23시                    3                   10

In [24]:
df21 = pd.read_excel('./data/smin, smax결과/여름/청계천 영도교.xlsx')
df21 = df21.rename(columns = {'s_min' : '청계천 영도교s_min', 's_max' : '청계천 영도교s_max'})
df21

   time  청계천 영도교s_min  청계천 영도교s_max
0    0시             2             4
1    1시             2             4
2    2시             2             4
3    3시             2             4
4    4시             2             4
5    5시             2             4
6    6시             2             4
7    7시             2             4
8    8시             2             4
9    9시             2             4
10  10시             2             4
11  11시             2             4
12  12시             2             4
13  13시             2             4
14  14시             2             4
15  15시             2             4
16  16시             2             4
17  17시             2             4
18  18시             2             4
19  19시             2             4
20  20시             2             4
21  21시             2             4
22  22시             2             4
23  23시             2             4

In [25]:
df22 = pd.read_excel('./data/smin, smax결과/여름/현대고등학교 건너편.xlsx')
df22 = df22.rename(columns = {'s_min' : '현대고등학교 건너편s_min', 's_max' : '현대고등학교 건너편s_max'})
df22

   time  현대고등학교 건너편s_min  현대고등학교 건너편s_max
0    0시                2               12
1    1시                2               12
2    2시                2               12
3    3시                2               12
4    4시                2               12
5    5시                2               12
6    6시                2               12
7    7시                2               12
8    8시                2               12
9    9시                2               12
10  10시                2               12
11  11시                2               12
12  12시                2               12
13  13시                2               12
14  14시                2               12
15  15시                2               12
16  16시                2               12
17  17시                2               12
18  18시                2               12
19  19시                2               12
20  20시                2               12
21  21시                2               12
22  22시                3               12
23  23시                3               12

In [26]:
df23 = pd.read_excel('./data/smin, smax결과/여름/홍은사거리.xlsx')
df23 = df23.rename(columns = {'s_min' : '홍은사거리s_min', 's_max' : '홍은사거리s_max'})
df23

   time  홍은사거리s_min  홍은사거리s_max
0    0시           3          11
1    1시           2          11
2    2시           2          11
3    3시           2          11
4    4시           2          11
5    5시           2          11
6    6시           2          11
7    7시           2          11
8    8시           2          11
9    9시           2          11
10  10시           2          11
11  11시           2          11
12  12시           2          11
13  13시           2          11
14  14시           2          11
15  15시           2          11
16  16시           2          11
17  17시           2          11
18  18시           2          11
19  19시           2          11
20  20시           2          10
21  21시           2          10
22  22시           3          11
23  23시           3          11

In [27]:
df24 = pd.read_excel('./data/smin, smax결과/여름/흑석역 1번출구.xlsx')
df24 = df24.rename(columns = {'s_min' : '흑석역 1번출구s_min', 's_max' : '흑석역 1번출구s_max'})
df24

   time  흑석역 1번출구s_min  흑석역 1번출구s_max
0    0시              3             15
1    1시              3             15
2    2시              2             15
3    3시              2             15
4    4시              2             15
5    5시              2             15
6    6시              2             15
7    7시              2             15
8    8시              2             15
9    9시              2             15
10  10시              2             15
11  11시              2             15
12  12시              2             15
13  13시              2             15
14  14시              2             15
15  15시              2             15
16  16시              2             15
17  17시              2             15
18  18시              2             15
19  19시              2             15
20  20시              3             15
21  21시              3             15
22  22시              3             15
23  23시              3             15

In [28]:
df = pd.merge(df0, df1, on = 'time')
df = pd.merge(df, df2, on = 'time')
df = pd.merge(df, df3, on = 'time')
df = pd.merge(df, df4, on = 'time')
df = pd.merge(df, df5, on = 'time')
df = pd.merge(df, df6, on = 'time')
df = pd.merge(df, df7, on = 'time')
df = pd.merge(df, df8, on = 'time')
df = pd.merge(df, df9, on = 'time')
df = pd.merge(df, df10, on = 'time')
df = pd.merge(df, df11, on = 'time')
df = pd.merge(df, df12, on = 'time')
df = pd.merge(df, df13, on = 'time')
df = pd.merge(df, df14, on = 'time')
df = pd.merge(df, df15, on = 'time')
df = pd.merge(df, df16, on = 'time')
df = pd.merge(df, df17, on = 'time')
df = pd.merge(df, df18, on = 'time')
df = pd.merge(df, df19, on = 'time')
df = pd.merge(df, df20, on = 'time')
df = pd.merge(df, df21, on = 'time')
df = pd.merge(df, df22, on = 'time')
df = pd.merge(df, df23, on = 'time')
df = pd.merge(df, df24, on = 'time')
df

,time,CJ 드림시티s_min,CJ 드림시티s_max,"고속터미널역 8-1번, 8-2번 출구 사이s_min","고속터미널역 8-1번, 8-2번 출구 사이s_max",공릉역 1번 출구 앞s_min,공릉역 1번 출구 앞s_max,독산보도육교 앞 자전거 보관소s_min,독산보도육교 앞 자전거 보관소s_max,동묘앞역 1번출구 뒤s_min,동묘앞역 1번출구 뒤s_max,뚝섬유원지역 1번출구 앞s_min,뚝섬유원지역 1번출구 앞s_max,롯데월드타워(잠실역2번출구 쪽)s_min,롯데월드타워(잠실역2번출구 쪽)s_max,마곡나루역 2번 출구s_min,마곡나루역 2번 출구s_max,마포구민체육센터 앞s_min,마포구민체육센터 앞s_max,목동역5번출구 교통정보센터 앞s_min,목동역5번출구 교통정보센터 앞s_max,봉림교 교통섬s_min,봉림교 교통섬s_max,신도림역 1번 출구 앞s_min,신도림역 1번 출구 앞s_max,안암로터리 버스정류장 앞s_min,안암로터리 버스정류장 앞s_max,여의나루역 1번출구 앞s_min,여의나루역 1번출구 앞s_max,옥수역 3번출구s_min,옥수역 3번출구s_max,용산역 맞은편s_min,용산역 맞은편s_max,이디야 커피 수유역점 앞s_min,이디야 커피 수유역점 앞s_max,장한평역 1번출구 (국민은행앞)s_min,장한평역 1번출구 (국민은행앞)s_max,중랑세무서s_min,중랑세무서s_max,창동역 2번출구s_min,창동역 2번출구s_max,천호역4번출구(현대백화점)s_min,천호역4번출구(현대백화점)s_max,청계천 영도교s_min,청계천 영도교s_max,현대고등학교 건너편s_min,현대고등학교 건너편s_max,홍은사거리s_min,홍은사거리s_max,흑석역 1번출구s_min,흑석역 1번출구s_max
0,0시,4,20,2,24,3,12,2,10,2,6,3,55,2,22,2,9,4,38,2,6,3,35,2,17,3,12,3,63,3,22,1,4,2,7,2,8,2,9,2,7,2,11,2,4,2,12,3,11,3,15
1,1시,3,20,2,24,3,12,2,10,2,6,3,55,2,22,2,9,3,37,2,6,3,35,2,17,3,12,3,64,3,22,1,4,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,3,15
2,2시,3,20,2,25,3,13,2,10,2,6,3,55,2,22,2,9,3,37,2,6,3,35,2,17,3,12,3,64,3,22,1,4,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
3,3시,3,20,2,25,3,13,2,10,2,6,3,55,2,22,2,9,3,38,2,6,3,35,2,17,2,12,3,64,3,22,1,5,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
4,4시,3,20,2,25,3,13,2,10,2,6,3,55,2,22,2,9,3,38,2,6,3,35,2,17,2,12,3,64,3,22,1,5,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
5,5시,3,20,2,25,3,13,2,10,2,6,3,55,2,23,2,9,3,38,2,6,3,35,2,17,2,12,3,64,2,22,1,5,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
6,6시,3,20,2,25,2,13,2,10,2,6,3,55,2,23,2,9,3,38,2,6,2,35,2,17,2,12,2,64,2,22,1,5,2,7,2,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
7,7시,3,20,2,25,3,13,2,9,2,6,3,56,3,23,2,9,3,38,2,6,2,35,2,17,2,12,2,64,2,22,1,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
8,8시,3,20,2,25,3,13,2,9,2,6,3,55,3,22,2,9,2,38,2,6,2,35,2,17,3,12,2,64,2,22,1,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
9,9시,3,20,2,25,3,13,2,9,2,6,3,55,3,22,2,9,2,38,2,6,2,35,3,17,3,12,2,64,2,22,1,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
10,10시,3,20,2,25,3,13,2,9,2,6,3,56,3,22,2,9,2,38,2,6,2,35,3,17,3,12,2,64,2,22,2,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
11,11시,3,20,2,25,3,13,2,9,2,6,3,56,3,22,2,9,2,38,2,6,2,35,3,17,3,12,2,64,2,22,2,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
12,12시,3,20,2,25,3,13,2,9,2,6,3,56,3,22,2,9,2,38,2,6,3,35,3,17,3,12,2,64,2,22,2,5,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
13,13시,3,20,2,25,3,13,2,9,2,6,3,55,3,22,2,9,2,38,2,6,3,35,3,17,3,12,2,64,2,22,2,4,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
14,14시,3,20,2,25,3,13,2,9,2,6,3,55,3,22,2,9,2,38,2,6,3,35,3,17,3,12,2,64,2,22,2,4,2,7,3,8,2,9,2,7,2,11,2,4,2,12,2,11,2,15
15,15시,3,20,2,25,3,13,2,9,2,6,3,55,3,22,2,9,3,37,2,6,3,35,3,17,3,12,2,64,2,22,2,4,2,7,3,8,2,9,3,7,2,11,2,4,2,12,2,11,2,15
16,16시,3,20,2,25,3,13,2,9,2,6,3,55,3,21,2,9,3,38,2,6,3,35,3,17,3,12,2,64,2,22,2,4,2,7,3,8,2,9,3,7,2,11,2,4,2,12,2,11,2,15
17,17시,3,20,2,24,3,13,2,9,2,6,3,55,3,21,2,9,3,38,2,6,3,35,3,16,3,12,2,64,2,21,2,4,2,7,3,8,2,9,3,7,2,11,2,4,2,12,2,11,2,15
18,18시,3,20,3,24,3,13,2,9,2,6,3,55,3,21,2,9,3,38,2,6,3,35,3,16,3,12,2,64,2,21,2,4,2,7,3,8,2,9,3,7,2,11,2,4,2,12,2,11,2,15
19,19시,3,20,3,24,3,13,2,8,2,6,3,56,3,21,2,9,3,38,2,6,3,35,3,16,3,12,3,64,3,21,2,4,2,7,3,8,2,9,2,7,3,10,2,4,2,12,2,11,2,15
20,20시,3,20,3,24,3,13,2,8,2,6,3,56,3,21,2,8,3,38,2,6,3,35,3,16,3,12,3,64,3,21,2,4,2,7,3,8,2,9,2,7,3,10,2,4,2,12,2,10,3,15
21,21시,3,20,3,24,3,13,3,9,2,6,3,56,3,21,2,8,3,38,2,6,3,35,3,16,3,12,3,64,3,21,2,4,2,7,3,8,2,9,2,7,3,10,2,4,2,12,2,10,3,15
22,22시,3,20,3,24,3,13,3,9,2,6,3,56,3,21,2,8,3,38,2,6,3,35,3,16,3,12,3,64,3,21,2,4,2,7,3,8,2,9,2,7,3,10,2,4,3,12,3,11,3,15
23,23시,3,20,3,24,3,12,3,9,2,6,3,56,3,21,2,8,3,38,2,6,3,35,3,16,3,12,3,64,3,22,2,4,2,7,3,8,2,9,2,7,3,10,2,4,3,12,3,11,3,15